services:
  yt-dlp-webui-xbuild:
    # image: marcobaobao/yt-dlp-webui
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - 3033:3033
    volumes:
      - ./downloads:/downloads # replace <your dir> with a directory on your host system
      - ./config.yml:/config/config.yml
    healthcheck:
      test: curl -f http://localhost:3033 || exit 1
    restart: unless-stopped
